.header-block {
    /*border: 1px solid #000;*/
    overflow: hidden;
    margin-bottom: 20px;
}

.header-block .block {
    /*border: 1px solid #000;*/
    float: left;
    text-align: center;
    width: 33%;
}

.header-block .block {
    /*border: 1px solid #000;*/
    float: left;
    color: #ccc;
    background-color: #EBF0F4;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 33%;
}

.header-block .block:hover {
    background-color: #F6FBFF;
    color:#9F9F9F;
}

.header-block .block.active {
    /*border: 1px solid #000;*/
    color: #019e0f;
    font-weight:bold;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
